@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
}
/* nav-section */
.shadow1 {
  border: 1px solid var(--bs-gry);
  background: var(--color-white);
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.1);
}
.nav-links:hover {
  -webkit-text-stroke: 0.7px var(--color-black);
  transition: 500ms all linear;
}
.overflow-hidden {
  overflow: hidden;
}

.menu > span {
  height: 5px;
  width: 30px;
  border-radius: 10px;
  background: var(--color-black);
  margin-top: 5px;
  display: none;
  flex-direction: column;
  z-index: 6 !important;
  position: relative;
}

.view {
  right: 0 !important;
}

.right-100 {
  right: -100%;
}

/* ---section1-classes */
.op-6 {
  opacity: 0.6;
}
.op-7 {
  opacity: 0.7;
}
.border {
  border-radius: 21px;
  border: 1px solid var(--bs-gry1);
  background: rgba(196, 196, 196, 0);
  width: 108px;
  height: 45px;
  flex-shrink: 0;
}
.size-border {
  border-radius: 21px;
  border: 1px solid var(--bs-gry1);
  background: rgba(196, 196, 196, 0);
  padding: 10px 20px;
}
.cart-btn {
  border-radius: 21px;
  background: var(--color-green);
  padding: 5px 13px;
  border: 1px solid transparent;
  transition: 500ms all linear;
}
.cart-btn:hover {
  border-radius: 21px;
  border: 1px solid var(--color-green);
  color: var(--color-green) !important;
  background: none;
  transform: scale(1.1);
  padding: 10px 33px;
}

.line {
  width: 90%;
  border: 1px solid #808080;
  opacity: 0.5;
}

.border-none {
  border: none !important;
}

.max-width-610 {
  max-width: 610px;
}

.red-box {
  width: 29px;
  height: 30px;
  background: var(--red1);
}

.mustard-box {
  width: 29px;
  height: 30px;
  background: var(--mustard);
}

.black-box {
  width: 29px;
  height: 30px;
  background: var(--color-black);
}

.gry-box {
  width: 29px;
  height: 30px;
  background: var(--gry);
}

.color-border {
  border-radius: 2px;
  border: 1px solid var(--light-gry);
  background: rgba(196, 196, 196, 0);
  padding: 3px;
}

.outline-none {
  outline: none;
}

/* ---section2 */
.card1 {
  max-width: 312px;
  height: 488px;
  box-shadow: 23px 44px 47px 0 #00000008;
  border: none !important;
  margin-left: auto;
  margin-right: auto;
  transition: all 500ms linear;
}

.card1:hover {
  transform: translateY(-5%);
  transition: 300ms all linear;
}

.op-8 {
  opacity: 0.8;
}
.cursor-pointer{
  cursor: pointer !important;
}

.greenbtn {
  border-radius: 6.533px;
  border: 0.311px solid var(--color-white);
  background: var(--color-green);
  padding: 3px 10px;
}

.greenbtn:hover {
  color: var(--color-green) !important;
  background-color: var(--color-white);
  border: 1px solid var(--color-green);
}

.sizebtn {
  width: 84.508px;
  height: 38.733px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: var(--color-white);
}

.sizebtn:hover {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
}

/* ----section3---- */
/* tabsection */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--color-red) !important;
  border-color: none !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 3px solid var(--color-red) !important;
}

.nav-tabs .nav-link {
  border: none !important;
  margin-bottom: 24px !important;
}

.nav {
  --bs-nav-link-padding-x: 0 !important;
  --bs-nav-link-padding-y: 0.5rem;
}

.nav-link {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--fs-md) !important;
  font-weight: 400 !important;
  color: var(--color-black) !important;
  font-family: var(--ff-poppins) !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.gap-56 {
  gap: 16px;
}
/* ---section4---- */
.commoncard {
  max-width: 312px !important;
  height: 390px !important;
  flex-shrink: 0;
  border-radius: 17px !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: var(--color-white);
  transition: 500ms all linear;
}
.commoncard:hover {
  box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.8);
  scale: 1;
}
.card-border {
  border-radius: 17px;
  background: var(--color-white);
  transition: 300ms all linear;
}
.br-20 {
  border-radius: 20px !important;
}
.text-box {
  padding: 0 40px;
  height: 25px;
  background: var(--orange);
  max-width: 162.06px;
  transform: rotate(-42.701deg);
  position: absolute;
  top: 20px;
  left: -40px;
}

.new-box {
  border-radius: 0px 9px 0px 0px;
  background: var(--color-grey);
  padding: 0 18px;
  position: absolute;
  top: 0;
  right: 0;
}
.common-btn {
  border-radius: 9.219px;
  background: var(--color-white);
  box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.08);
  padding: 15px 25px;
  transition: 200ms all linear;
}
.nxt-btn {
  border-radius: 9px;
  border: 1px solid #9c9c9c;
  background: rgba(196, 196, 196, 0);
  padding: 12px 17px;
  opacity: 0.77;
}

.common-btn:hover {
  background: var(--color-light-red);
  color: var(--color-white) !important;
  transition: all 200ms linear;
}
/* footer */
.line-links {
  position: relative;
  transition: 400ms all linear;
}

.line-links:hover {
  -webkit-text-stroke: 0.7px var(--color-white);
  opacity: none;
  transition: 400ms all linear;
}

.icon:hover {
  transform: translateY(-30%);
  transition: 500ms linear;
}

.max-w-448 {
  max-width: 448px;
}
.browm {
  background: var(--brown);
}
/* --backtop-- */
.back-btn {
  padding: 8px 8px;
  border: none;
}

.pos-fix1 {
  position: fixed;
  bottom: 57px;
  right: 20px;
  z-index: 2;
}

.back-to-top-button {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: var(--light-blue);
  border: none;
  display: none;
}
@media (min-width: 992px) {
  .gap-lg-90 {
    gap: 90px;
  }
}

:root {
  --fs-xs: 10px;
  --fs-s: 16px;
  --fs-sm: 18px;
  --fs-md: 10px;
  --fs-lg: 18px;
  --fs-xl: 15px;
  --fs-2xl: 25px;

  /* font-family   */
  --ff-poppins: "poppins", sans-serif;
  --ff-roboto: "roboto", sans-serif;
  --ff-josefin: "josefin sans";

  /* color   */
  --light-black: #4d4d4d;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #007bff;
  --color-grey: #555;
  --color-offwhite: #999;
  --color-greygreen: #454729;
  --color-black2: #222;
  --color-black3: #181818;
  --color-red: #f00;
  --color-light-red: #f40;
  --dark-black: #0d0d0d;
  --color-green: #28a745;
  --brown: #171717;
  --orange: #d36b31;
  --red1: #cc111c;
  --mustard: #aa9e78;
  --gry: #808082;
  --light-gry: #d5d5d5;
  --bs-gry: #dee2e6;
  --bs-gry1: #e8e8e8;
}

/* color */
.color-lightblack {
  color: var(--light-black);
}
.red1 {
  background-color: var(--red1);
}
.mustard {
  background-color: var(--mustard);
}
.gry {
  background-color: var(--gry);
}
.bs-gry {
  color: var(--bs-gry);
}
.bs-gry1 {
  color: var(--bs-gry1);
}
.light-gry {
  color: var(--light-gry);
}
.color-black {
  color: var(--color-black) !important;
}

.color-white {
  color: var(--color-white) !important;
}

.dark-black {
  background-color: var(--dark-black);
}

.color-blue {
  color: var(--color-blue) !important;
}

.color-grey {
  color: var(--color-grey) !important;
}

.color-offwhite {
  color: var(--color-offwhite) !important;
}

.color-greygreen {
  color: var(--color-greygreen) !important;
}

.color-black2 {
  color: var(--color-black2) !important;
}

.color-black3 {
  color: var(--color-black3) !important;
}

.color-red {
  color: var(--color-red) !important;
}

.color-lightred {
  color: var(--color-light-red) !important;
}

.light-black {
  color: var(--light-black) !important;
}

.color-green {
  background-color: var(--color-green) !important;
}
.orange {
  background-color: var(--orange) !important;
}
/* font-size  */
.fs-xs {
  font-size: var(--fs-xs);
}

.fs-s {
  font-size: var(--fs-s);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-2xl {
  font-size: var(--fs-2xl);
}

/* font-family  */
.ff-poppins {
  font-family: var(--ff-poppins);
}

.ff-roboto {
  font-family: var(--ff-roboto);
}

.ff-josefin {
  font-family: var(--ff-josefin);
}

/* ==========line-height========== */
.lh-134 {
  line-height: 134.5%;
}

.lh-18 {
  line-height: 18.5%;
}

.lh-125 {
  line-height: 125%;
}

.lh-188 {
  line-height: 188.889%;
}

.lh-185 {
  line-height: 185.5%;
}

.lh-150 {
  line-height: 150%;
}

.lh-242 {
  line-height: 242%;
}
@media (max-width:992px) {
  .w-lg-100{
    width: 100%;
  }
}
@media (min-width: 576px) {
  .cart-btn {
    border-radius: 21px;
    background: var(--color-green);
    padding: 10px 33px;
    border: 1px solid transparent;
    transition: 500ms all linear;
  }
  .gap-56 {
    gap: 56px;
  }
}
@media (min-width:768px) {
  :root {
      --fs-xs: 10px;
      --fs-s: 16px;
      --fs-sm: 18px;
      --fs-md: 20px;
      --fs-lg: 24px;
      --fs-xl: 25px;
      --fs-2xl: 30px;
    }
}
@media (max-width: 992px) {
  .mobile {
    flex-direction: column !important;
    display: flex;
    position: fixed;
    height: 100vh !important;
    background: var(--color-white);
    top: 0;
    width: 100% !important;
    transition: 0.7s;
  }

  .menu > span {
    display: flex !important;
  }
}
